@media(min-width:768px) {
    .splash header .intro-text {
        padding-top: 100px;
        padding-bottom: 200px;
    }
}

.splash .banner-searchBox input[type='text'] {
    color: #333;
}

.splash section#contact {
    background-image: none;
}
