<!DOCTYPE html>
<html>
<head>
    @*<eta http-equiv="refresh" content="0;url=Areas/Splash/index.html">*@
    <title>SB Admin 2</title>
    @*<script language="javascript">
        indow.location.href = "Areas/Splash/index.html"
    </script>*@
</head>
<body>
    Go to <a href="Areas/Splash/index.html">/Areas/Splash/index.html</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
