<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://resourceserver.deltanovember.xaviersoftware.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dodder.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>resourceserver.deltanovember.xaviersoftware.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>resource_warecom_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="stuffFinderDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=dodder.arvixe.com;Initial Catalog=stuffFinderDb;Persist Security Info=True;User ID=mollie;Password=gamebusy1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SIERRAGOLF\sqlexpress;Initial Catalog=stuffFinderDb;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\stuffFinderDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SIERRAGOLF\sqlexpress;initial catalog=stuffFinderDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="stuffFinderAuthDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=dodder.arvixe.com;Initial Catalog=stuffFinderAuthDb;Persist Security Info=True;User ID=mollie;Password=gamebusy1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=stuffFinderAuthDb;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\stuffFinderAuthDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\sqlexpress;initial catalog=stuffFinderAuthDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)stuffFinderAuthDbContext-Web.config Connection String">
      <ParameterValue>data source=dodder.arvixe.com;initial catalog=stuffFinderAuthDb;persist security info=True;user id=mollie;password=gamebusy1!;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)stuffFinderDbContext-Web.config Connection String">
      <ParameterValue>data source=dodder.arvixe.com;initial catalog=stuffFinderDb;persist security info=True;user id=mollie;password=gamebusy1!;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>