<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stuffFinderAuthDbContext" connectionString="data source=.\sqlexpress;initial catalog=stuffFinderAuthDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="stuffFinderDbContext" connectionString="data source=SIERRAGOLF\sqlexpress;initial catalog=stuffFinderDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>