<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="stuffFinderDbContext" connectionString="data source=SIERRAGOLF\sqlexpress;initial catalog=stuffFinderDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>