<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">City Notification</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="form-group" style="padding:14px;">
        City
        <select class="form-control" data-ng-model="vm.cityNotification.city"
                data-ng-options="city as city.name for city in vm.cities"></select>
    </div>
</div>
<div class="row" style="padding:14px;">
    <text-angular ng-model="vm.cityNotification.messageBody"></text-angular>
</div>
<div class="row" style="padding:14px;">
    <a class="btn btn-default" data-ng-click="vm.addOrUpdateNewsLetter(vm.cityNotification)">Save</a>
    <a class="btn btn-default" data-ng-click="vm.send(vm.cityNotification)">Send</a>
</div>