<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Cities</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row col-lg-12">
    <a href="#/city/add">Add city</a>
</div>
<div class="row col-lg-12">
    <label class="control-label">{{ vm.totalItems }} total cities</label>
</div>
<div class="row col-lg-12">
    <table class="table table-striped">
        <tr>
            <th>
                <a ng-click="vm.setSortOrder('name')">Name</a>
            </th>
            <th>
                <a ng-click="vm.setSortOrder('latitude')">Latitude</a>
            </th>
            <th>
                <a ng-click="vm.setSortOrder('longitude')">Longitude</a>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="city in vm.cities">
            <td>
                {{ city.name }}
            </td>
            <td>
                {{ city.latitude }}
            </td>
            <td>
                {{ city.longitude }}
            </td>
            <td>
                <a class="btn btn-default" href="#/city/update/{{ city.cityId }}">
                    Edit
                </a>
            </td>
            <td title="{{ city.locations.length > 0 ? 
                'Currently being used by location ' + city.locations[0].locationName 
                : (city.cityNotifications.length > 0 ? 'Currently being used by city notification ' + city.cityNotifications[0].cityNotificationId 
                : (city.users.length > 0 ? 'Currently being used by user ' + city.users[0].userName
                : 'Delete')) }}">
                <button class="btn btn-default" data-ng-click="vm.deleteCity(city.cityId)" data-ng-disabled="city.locations.length > 0 || city.cityNotifications.length > 0 || city.users.length > 0">
                    Delete
                </button>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="7" boundary-links="true"
                    rotate="false"></pagination>
    </div>
</div>
