<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1><i class="glyphicon glyphicon-heart-empty red"></i>WheresMyStuff.com</h1>
        </div>
        <p class="lead">
            Found it! Fill in where, when and how you found it.
        </p>
    </div>
</div>
<div class="well">
    <form class="form-horizontal" role="form">
        <h4>Have you found something you believe others in you area may be looking for?</h4>
        <pre>Drag picture here...</pre>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Location"></textarea>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232566.35013197022!2d54.5599079!3d24.3865481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e440f723ef2b9%3A0xc7cc2e9341971108!2sAbu+Dhabi+-+United+Arab+Emirates!5e0!3m2!1sen!2sus!4v1420960578083" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Date spotted"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Price"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="UPC code"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
</div>