<section class="content-section video-section">
    <div class="jumbotron pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=zGtz_GOA79w',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="page-header text-center hidden-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>WheresMyStuff.com</h1>
            </div>
            <div class="page-header text-center visible-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>Where's My Stuff</h1>
            </div>
        </div>
    </div>
</section>
<div class="well">
    <form class="form-horizontal" role="form">
        <h4>Have you found something you believe others in you area may be looking for?</h4>
        <div class="form-group" style="padding:14px;">
            Name
            <textarea class="form-control" placeholder="The name of the item you found" data-ng-model="vm.thing.name" data-ng-disabled="vm.thing.thingId"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            Location City
            <select class="form-control" data-ng-model="vm.finding.location.city"
                    data-ng-options="city as city.name for city in vm.cities" ng-init="city.name = vm.cities[0].name"></select>
        </div>
        <div class="form-group" style="padding:14px;">

            Location Name
            <textarea class="form-control" placeholder="The name of the place you found this item... if this place has a name" data-ng-model="vm.finding.location.locationName"
                      typeahead="location as location.locationName for location in vm.locations | filter:{locationName:$viewValue} | limitTo:8"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            Click and drag the red marker to the location of the store
            <div id="map_canvas">
                <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                <div ng-cloak ng-hide="true">
                    <ul>
                        <li>coords update ctr: {{coordsUpdates}}</li>
                        <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group" style="padding:14px;">

            Address
            <textarea class="form-control" placeholder="This locations formatted address" data-ng-model="vm.finding.location.formattedAddress"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">

            Latitude
            <textarea class="form-control" placeholder="This locations latitude coordinates" data-ng-model="vm.finding.location.latitude"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">

            Longitude
            <textarea class="form-control" placeholder="This locations longitude coordinates" data-ng-model="vm.finding.location.longitude"></textarea>
        </div>
        <section class="file-container">
            <section class="droplet">
                <droplet ng-model="vm.interface" class="droplet ng-pristine ng-untouched ng-valid ng-isolate-scope event-drop">
                    <comment>Drag picture(s) here...</comment>
                    <ul class="files">
                        <li ng-repeat="model in vm.interface.getFiles(interface.FILE_TYPES.VALID)">
                            <droplet-preview ng-model="model"></droplet-preview>
                            <div class="delete" ng-click="model.deleteFile()">&times;</div>
                            <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                        </li>
                    </ul>
                </droplet>
            </section>
        </section>
        <div class="form-group" style="padding:14px;" ng-show="!vm.thing.thingId">
            Category
            <textarea class="form-control" placeholder="The category or type of item" data-ng-model="vm.thing.category" typeahead="category as category.name for category in vm.categories | filter:{name:$viewValue} | limitTo:8"></textarea>
        </div>
        <div class="form-group" style="padding:14px;" ng-show="!vm.thing.thingId">
            Description
            <textarea class=" form-control" placeholder="The description or type of item" data-ng-model="vm.thing.description"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            Date Spotted
            <p class="input-group">
                <input type="text" class="form-control dateTextInput" placeholder="The date you found this item" data-ng-model="vm.finding.date" datepicker-popup="{{ vm.datepickerFormat }}" is-open="vm.datepickerOpened" min-date="vm.datepickerMinDate" max-date="vm.datepickerMaxDate" datepicker-options="vm.datepickerDateOptions" ng-required="true" required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default dateCalendarButton" ng-click="vm.datepickerOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group" style="padding:14px;">
            Price | {{ vm.finding.price | currency }}
            <textarea class="form-control" placeholder="The price you found this item with" data-ng-model="vm.finding.price"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            UPC code
            <textarea class="form-control" placeholder="The barcode of the item you found" data-ng-model="vm.finding.upcCode"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="button" ng-click="vm.addOrUpdate()">Save</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
</div>