<div class="row">
    <div class="col-lg-12">
        <section class="content-section video-section">
            <div class="jumbotron pattern-overlay">
                <video-bg video-id="'TDM18lJ18VA'" mute="true" loop="true" mobile-image="'/Images/about.png'" content-z-index="99" start="5" style="opacity: 0.3;"></video-bg>
                <div class="container">
                    <div class="page-header text-center hidden-xs">
                        <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
                    </div>
                    <div class="page-header text-center visible-xs">
                        <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row well">
    <form class="form-horizontal" role="form">
        <h4>Have you found something you believe others in you area may be looking for?</h4>
        <div class="form-group" style="padding:14px;">
            Name
            <textarea class="form-control" placeholder="The name of the item you found" data-ng-model="vm.thing.name" data-ng-disabled="vm.thing.thingId"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            Location City
            <select class="form-control" data-ng-model="vm.thing.finding.location.city"
                    data-ng-options="city as city.name for city in vm.cities"></select>
        </div>
        <div class="form-group" style="padding:14px;">

            Location Name
            <textarea class="form-control" placeholder="The name of the place you found this item" data-ng-model="vm.thing.finding.location.locationName"
                      typeahead="location as location.locationName for location in vm.locations | filter:{locationName:$viewValue} | limitTo:8"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            <button class="btn btn-default" data-ng-click="vm.searchNewLocation(vm.finding.location.locationName)">Find Location</button>
            <p>
                Click and drag the red marker to the location of the store
            </p>
            <div id="map_canvas">
                <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" draggable="true" options="vm.options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                <div ng-cloak ng-hide="true">
                    <ul>
                        <li>coords update ctr: {{coordsUpdates}}</li>
                        <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group" style="padding:14px;">

            Address
            <textarea class="form-control" placeholder="This locations formatted address" data-ng-model="vm.thing.finding.location.formattedAddress"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">

            Latitude
            <textarea class="form-control" placeholder="This locations latitude coordinates" data-ng-model="vm.thing.finding.location.latitude"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">

            Longitude
            <textarea class="form-control" placeholder="This locations longitude coordinates" data-ng-model="vm.thing.finding.location.longitude"></textarea>
        </div>
        <div class="form-group" style="padding:14px;" data-ng-show="vm.thing.imageUrl">
            Pictures Auto-Submitted
            <p>
                <img src="{{ vm.thing.imageUrl }}" alt="Thing image" />
            </p>
        </div>
        <div class="form-group" style="padding:14px;">
            Image URL
            <input class="form-control" placeholder="The url of the image" data-ng-model="vm.thing.imageUrl" />
        </div>
        <section class="file-container">
            <section class="droplet">
                <droplet ng-model="vm.interface" class="droplet ng-pristine ng-untouched ng-valid ng-isolate-scope event-drop">
                    <comment>Drag picture(s) here...</comment>
                    <ul class="files">
                        <li ng-repeat="model in vm.interface.getFiles(interface.FILE_TYPES.VALID)">
                            <droplet-preview ng-model="model"></droplet-preview>
                            <div class="delete" ng-click="model.deleteFile()">&times;</div>
                            <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                        </li>
                    </ul>
                </droplet>
            </section>
        </section>
        <div class="form-group" style="padding:14px;" ng-show="!vm.thing.thingId">
            Category
            <!--<textarea class="form-control" placeholder="The category or type of item" data-ng-model="vm.thing.category" typeahead="category as category.name for category in vm.categories | filter:{name:$viewValue} | limitTo:8"></textarea>-->
            <ol class="nya-bs-select" ng-model="vm.thing.category" data-live-search="true" style="width:100%">
                <li nya-bs-option="category in vm.categories">
                    <!-- the text content of anchor element will be used for search -->
                    <a>
                        {{ category.name }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>
        </div>
        <div class="form-group" style="padding:14px;" ng-show="!vm.thing.thingId">
            Description
            <textarea class=" form-control" placeholder="The description or type of item" data-ng-model="vm.thing.description"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            Date Spotted
            <p class="input-group">
                <input type="text" class="form-control dateTextInput" placeholder="The date you found this item" data-ng-model="vm.thing.finding.date" datepicker-popup="{{ vm.datepickerFormat }}" is-open="vm.datepickerOpened" min-date="vm.datepickerMinDate" max-date="vm.datepickerMaxDate" datepicker-options="vm.datepickerDateOptions" ng-required="true" required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default dateCalendarButton" ng-click="vm.datepickerOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group" style="padding:14px;">
            Price | {{ vm.thing.finding.price | currency }}
            <textarea class="form-control" placeholder="The price you found this item with" data-ng-model="vm.thing.finding.price"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            UPC code
            <textarea class="form-control" placeholder="The barcode of the item you found" data-ng-model="vm.thing.finding.upcCode"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="button" ng-click="vm.addOrUpdate()">Save</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
</div>