<div class="jumbotron">
    <h1><i class="glyphicon glyphicon-heart-empty"></i>WheresMyStuff.com</h1>
    <p class="lead">
        Living out-and-about it can be hard to find the stuff you love. Sometimes hunting down that last thing you need can be hard.
        Let WheresMyStuff.com notify you when it finds the stuff you want.  Its easy, give it a try!
    </p>
    <p>Are you someone who could supply the most requested items to the UAE?  Contact us today.</p>
</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>