<section class="content-section video-section">
    <div class="jumbotron pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=TDM18lJ18VA',startAt:5,quality:'hd1080',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="page-header text-center hidden-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
            </div>
            <div class="page-header text-center visible-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>