<div class="row">
    <div class="col-lg-12">
        <section class="content-section video-section">
            <div class="jumbotron pattern-overlay">
                <video-bg video-id="'TDM18lJ18VA'" mute="true" loop="true" mobile-image="'/Images/about.png'" content-z-index="99" start="5" style="opacity: 0.3;"></video-bg>
                <div class="container">
                    <div class="page-header text-center hidden-xs">
                        <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
                    </div>
                    <div class="page-header text-center visible-xs">
                        <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row well">
    <div class="page-header">
        <h4>How it works</h4>
    </div>
    <div>
        Thanks for visiting myFindr, the site that
        connects you to the the things you love. By using myFindr you can find the items you have been
        looking high and low for. <br /><br />     Alternatively, maybe you have found something that you know someone
        on myFindr has been posted and is looking desperately for.  Whether you are looking or finding visit
        myFindr and get started! <br /><br />Great to have you on board
    </div>
</div>
