<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Locations</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row col-lg-12">
    <a href="#/location/add">Add location</a>
</div>
<div class="row col-lg-12">
    <label class="control-label">{{ vm.totalItems }} total locations</label>
</div>
<div class="row col-lg-12">
    <table class="table table-striped">
        <tr>
            <th>
                <a ng-click="vm.setSortOrder('locationName')">Name</a>
            </th>
            <th>
                <a ng-click="vm.setSortOrder('formattedAddress')">Address</a>
            </th>
            <th>
                <a ng-click="vm.setSortOrder('latitude')">Latitude</a>
            </th>
            <th>
                <a ng-click="vm.setSortOrder('longitude')">Longitude</a>
            </th>
            <th>
                <a ng-click="vm.setSortOrder('city.name')">City</a>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="location in vm.locations">
            <td>
                {{ location.locationName }}
            </td>
            <td>
                {{ location.formattedAddress }}
            </td>
            <td>
                {{ location.latitude }}
            </td>
            <td>
                {{ location.longitude }}
            </td>
            <td>
                {{ location.city.name }}
            </td>
            <td>
                <a class="btn btn-default" href="#/location/update/{{ location.locationId }}">
                    Edit
                </a>
            </td>
            <td title="{{ location.findings.length > 0 ? 'Currently being used by a finding on ' + location.findings[0].thing.name : 'Delete' }}">
                <button class="btn btn-default" data-ng-click="vm.deleteLocation(location.locationId)"
                        data-ng-disabled="location.findings.length > 0">
                    Delete
                </button>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="7" boundary-links="true"
                    rotate="false"></pagination>
    </div>
</div>
