<div class="row">
    <div class="col-lg-12">
        <section class="content-section video-section">
            <div class="jumbotron pattern-overlay">
                <video-bg video-id="'TDM18lJ18VA'" mute="true" loop="true" mobile-image="'/Images/about.png'" content-z-index="99" start="5" style="opacity: 0.3;"></video-bg>
                <div class="container">
                    <div class="page-header text-center hidden-xs">
                        <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
                    </div>
                    <div class="page-header text-center visible-xs">
                        <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
                    </div>
                    <p class="lead">
                        Living out-and-about it can be hard to find the stuff you love. Sometimes hunting down that last thing you need can be hard.
                        Let myFindr notify you when it finds the stuff you want.  It's easy, give it a try!
                    </p>
                    <p>Are you someone who could supply the most requested items to the UAE?  Contact us today.</p>
                </div>
            </div>
        </section>
    </div>
</div>
<h3>Top Ten Wanted Items</h3>
<div class="row" style="min-height: 277px">
    <div class="col-sm-6 col-md-3" data-ng-repeat="thing in vm.things">
        <div class="thumbnail" data-ng-style="{ 'box-shadow': thing.findings.length == 0 ? vm.redBoxShadow : vm.greenBoxShadow }">
            <a href="#/thing/{{ thing.thingId }}">
                <!--<img src="{{ thing.imageUrl }}" alt="..." style="height: 200px;">-->
                <img src="{{ thing.images.length > 0 ? 'data:image/jpeg;base64,' + thing.images[0].imageBinary : thing.imageUrl || '/images/logo.png' }}" alt=". alt=" ..." style="height: 200px;">
            </a>
            <div class="caption">
                <a href="#/thing/{{ thing.thingId }}">
                    <p>
                        <h5 data-ng-style="{ 'color': thing.findings.length == 0 ? vm.redFont : vm.greenFont }"><b>{{ thing.findings.length == 0 ? ('Wanted') : ('Found') }}</b></h5>
                        <h5 style="min-height:20px">{{ thing.name.length > 25 ? thing.name.substring(0,30) + '[&hellip;]' : thing.name }}</h5>
                    </p>
                </a>
                <p>
                    <a class="btn btn-info btn-group hidden-xs" href="#/found-it/{{ thing.thingId }}" role="button">I found it</a>
                    <a class="btn btn-info btn-group hidden-xs" data-ng-click="vm.me2(thing.thingId)" role="button">I want it {{ thing.me2 > 0 ? '(' + thing.me2 + ')' : '' }}</a>
                    <a class="btn btn-info btn-group visible-xs" href="#/found-it/{{ thing.thingId }}" role="button">Found</a>
                    <a class="btn btn-info btn-group visible-xs" data-ng-click="vm.me2(thing.thingId)" role="button">Want {{ thing.me2 > 0 ? '(' + thing.me2 + ')' : '' }}</a>
                </p>
            </div>
        </div>
    </div>
</div>

