<section class="content-section video-section">
    <div class="jumbotron pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=zGtz_GOA79w',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="page-header text-center hidden-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>WheresMyStuff.com</h1>
            </div>
            <div class="page-header text-center visible-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>Where's My Stuff</h1>
            </div>
        </div>
    </div>
</section>

<div class="full col-sm-9">

    <!-- content -->
    <div class="row">

        <!-- main col left -->
        <div class="col-sm-5">

            <div ng-repeat="thing in foundThings.things" class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="{{ thing.imageUrl }}" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">{{ thing.name }}</p>
                    <p>
                        {{ thing.findings[0].comments[0].commentText }}
                    </p>
                    <ul>
                        <li>Location: {{ thing.findings[0].location }}</li>
                        <li>Last date spotted in the wild: {{ thing.findings[0].date }}</li>
                        <li>Number of People that wanted this item: {{ thing.me2 }}</li>
                        <li>Last price posted: {{ thing.findings[0].price }}</li>
                        <li ng-if="thing.findings[0].upcCode">UPC code: {{ thing.findings[0].upcCode }}</li>
                    </ul>
                    <!--<p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> {{ thing.findings[0].comments[0].name }} found this!
                    </p>-->
                    <p>
                        <div class="fb-comments" width="100%" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="4" data-colorscheme="light"></div>
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="well" ng-hide="true">
                <form class="form-horizontal" role="form">
                    <h4>Have you found something you believe others in you area may be looking for?</h4>
                    <pre>Drag picture here...</pre>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Location"></textarea>
                    </div>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Date spotted"></textarea>
                    </div>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Price"></textarea>
                    </div>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="UPC code"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                </form>
            </div>

            <!--<div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="/assets/example/Walls-Selection-Hersheys.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Walls Selection Hershey's Ice Cream!</p>
                    <p>
                        Some people were looking for this. I dont care for plain chocolate ice cream much but I found this at the local store.
                    </p>
                    <ul>
                        <li>Location: QueensGrocer 6 Grotestraat, Amesterdam, UAE</li>
                        <li>Last date spotted in the wild: 12/2/2014</li>
                        <li>Number of People that wanted this item: 86</li>
                        <li>Last price posted: $6.78</li>
                        <li>UPC code: 44393529</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> LesLion54 found this item.
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="/assets/example/coconut oil.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Coconut Oil</p>
                    <p>
                        Needed this for my hair. And I know alot other people need this also. Thanks!
                    </p>
                    <ul>
                        <li>Location: CornerGrocer, 23 SteinStraat The Hague, UAE 34243123</li>
                        <li>Last date spotted in the wild: 3/23/2014</li>
                        <li>Number of People that wanted this item: 3</li>
                        <li>Last price posted: $23.16</li>
                        <li>UPC code: 239823414</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> Whatsits found this.
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="/assets/example/rice crispies treates cereal.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Rice Crispies Treates Cereal</p>
                    <p>
                        After all this time.  I got it, this was the one!
                    </p>
                    <ul>
                        <li>Location: OpaShop 35 FrontStraat, Rotterdam, UAE</li>
                        <li>Last date spotted in the wild: 12/8/2014</li>
                        <li>Number of People that wanted this item: 2</li>
                        <li>Last price posted: $5.56</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> P45X found this!
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="/assets/example/trader joes vanilla.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Trader Joes Bourbon Vanilla</p>
                    <p>
                        I am personally shipping this to my cousin who owns a grocery in Utrect now. Enjoy!
                    </p>
                    <ul>
                        <li>Location: Grocery4AmericansAndDutch2 43 Haasstraat Utrect, UAE</li>
                        <li>Last date spotted in the wild: 1/2/2014</li>
                        <li>Number of People that wanted this item: 401</li>
                        <li>Last price posted: $9.98</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> EnlightednedTheOne found this.
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>-->

        </div>

        <!-- main col right -->
        <div class="col-sm-7">

            <!--<div class="well">
                <form class="form">
                    <h4><p>WheresMyStuff.com can scour the web and notify you of the stuff you want.</p> <p>Sign-up</p></h4>
                    <div class="input-group text-center">
                        <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                    </div>
                </form>
            </div>-->

            <div ng-repeat="thing in mostMeTooed.things" class=" panel panel-default">
                <div class="panel-heading">
                    <!--<a href="#" class="pull-right">Bounty currently set at: $246</a>-->
                    <h4>Wanted: {{ thing.name }}</h4>
                </div>
                <div class="panel-thumbnail"><img src="{{ thing.imageUrl }}" class="img-responsive"></div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <hr>
                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> {{ thing.comments[0].name }} writes: {{ thing.comments[0].commentText }}
                    <!--<ul>
                        <li ng-repeat="comment in thing.comments | filter: { originalPoster: false }">
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> {{ comment.name }} writes: {{ comment.commentText }}
                        </li>
                    </ul>-->
                    <p>
                        <div class="fb-comments" width="100%" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="3" data-colorscheme="light"></div>
                    </p>
                    <!--<form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Add a comment..">
                        </div>
                    </form>-->
                    <hr />
                    <p><a href="#" class="btn btn-default">Email me when this is found in 50 feet of my area! &raquo;</a></p>
                    <!--<p><a href="#" class="btn btn-default">Place a bounty on this! &raquo;</a></p>-->
                    <hr />
                    <!--<p>
                WheresMyStuff.com scours the web looking for the items you want in your location! See the list of automatically curated items that may match this one.
            </p>-->
                    <p>
                        <a href="#">Is this it? &raquo;</a>
                    </p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

        </div>
    </div><!--/row-->

    <div class="row">
        <div class="col-sm-6">
            <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
        </div>
    </div>

    <div class="row" id="footer">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
            <p>
                <a href="#" class="pull-right">©Copyright Mollie P 2014</a>
            </p>
        </div>
    </div>

    <hr>

    <h4 class="text-center">
        <a href="http://bootply.com/96266" target="ext">USA2UAE.WheresMyStuff.com</a>
    </h4>

    <hr>


</div><!-- /col-9 -->