<section class="content-section video-section">
    <div class="jumbotron pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=zGtz_GOA79w',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="page-header text-center hidden-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>WheresMyStuff.com</h1>
            </div>
            <div class="page-header text-center visible-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>Where's My Stuff</h1>
            </div>
        </div>
    </div>
</section>
<div class="well">
    <form class="form-horizontal" role="form">
        <div class="col-md-2 votecell">
            <div class="vote">
                <a class="vote-up-off" title="I want it too!" ng-click="vm.upVote(vm.thing)">up vote</a>
                <span itemprop="upvoteCount" class="vote-count-post ">{{ vm.thing.me2 }}</span>
                <a class="vote-down-off" title="This is not useful" ng-click="vm.downVote(vm.thing)">down vote</a>
            </div>
        </div>
        <h3><b>{{ vm.thing.name }}</b></h3>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
        <div class="form-group" style="padding:14px;">
            <div style="height: 305px">
                <carousel interval="vm.slideInterval">
                    <slide ng-repeat="slide in vm.slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto; max-height: 300px;border-radius: 4px">
                        <div class="carousel-caption">
                            <!--<h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>-->
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="form-group" style="padding:14px;">
            <div class="row" ng-show="(vm.thing.userName)">
                <hr />
                <div class="col-lg-4">
                    <b>Posted by</b>
                </div>
                <div class="col-lg-4">
                    {{ vm.thing.userName }}
                </div>
            </div>
            <div class="row" ng-show="(vm.thing.description)">
                <hr />
                <div class="col-lg-4">
                    <b>Description</b>
                </div>
                <div class="col-lg-4">
                    {{ vm.thing.description }}
                </div>
            </div>
            <div class="row" ng-show="(vm.thing.category)">
                <hr />
                <div class="col-lg-4">
                    <b>Category</b>
                </div>
                <div class="col-lg-4">
                    {{ vm.thing.category }}
                </div>
            </div>
            <div class="row" ng-show="(vm.thing.postedDate)">
                <hr />
                <div class="col-lg-4">
                    <b>Posted on</b>
                </div>
                <div class="col-lg-4">
                    {{ vm.thing.postedDate | date:'mediumDate' }}
                </div>
            </div>
        </div>
        <div class="form-group" style="padding:14px;" ng-repeat="finding in vm.thing.findings">
            <h4><b>Found!</b></h4>
            <div class="row" ng-show="(finding.location.formattedAddress)">
                <hr />
                <div class="col-lg-4">
                    <b>Found at</b>
                </div>
                <div class="col-lg-4">
                    {{ finding.location.locationName }} {{ finding.location.formattedAddress }} ({{ finding.location.longitude }}, {{ finding.location.latitude }})
                </div>
            </div>
            <div class="row" style="padding:14px;">
                <div id="map_canvas">
                    <ui-gmap-google-map center="{ latitude: 24.416563, longitude: 54.543546 }" zoom="vm.map.zoom" draggable="true" options="vm.options">
                        <ui-gmap-marker coords="{ latitude: 24.416563, longitude: 54.543546 }" options="marker.options" events="marker.events" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                    <div ng-cloak ng-hide="true">
                        <ul>
                            <li>coords update ctr: {{coordsUpdates}}</li>
                            <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="(finding.userName)">
                <hr />
                <div class="col-lg-4">
                    <b>Found by</b>
                </div>
                <div class="col-lg-4">
                    {{ finding.userName }}
                </div>
            </div>
            <div class="row" ng-show="(finding.date)">
                <hr />
                <div class="col-lg-4">
                    <b>Found on</b>
                </div>
                <div class="col-lg-4">
                    {{ finding.date | date:'mediumDate'}}
                </div>
            </div>
            <div class="row" ng-show="(finding.price)">
                <hr />
                <div class="col-lg-4">
                    <b>Price</b>
                </div>
                <div class="col-lg-4">
                    {{ finding.price | currency }}
                </div>
            </div>
            <div class="row" ng-show="(finding.upcCode)">
                <hr />
                <div class="col-lg-4">
                    <b>UPC Code</b>
                </div>
                <div class="col-lg-4">
                    {{ finding.upcCode }}
                </div>
            </div>
        </div>
        <p>
            <!--<div class="fb-comments" width="100%" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="3" data-colorscheme="light"></div>-->
            <div class="fb-comments" width="100%" dyn-fb-comment-box page-href="#/thing/{{ thing.thingId }}" data-numposts="5" data-colorscheme="light"></div>
        </p>
        <button class="btn btn-primary pull-right" type="button" ng-click="vm.addOrUpdateThing()">Save</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="vm.deleteThing()">Delete</button>
        <ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
</div>