<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1><i class="glyphicon glyphicon-heart-empty red"></i>WheresMyStuff.com</h1>
        </div>
    </div>
</div>

<div class="full col-sm-9">

    <!-- content -->
    <div class="row">

        <!-- main col left -->
        <div class="col-sm-5">

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="/assets/example/bg_5.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Black Futon!</p>
                    <p>
                        Finally found it.  After looking high and low I finally found a furniture store here
                        that sells a futon that folds out to a bed AND the arm rests fold out.
                    </p>
                    <ul>
                        <li>Location: FutonsRUs! 5 kleinstraat 4th district, Nijmegen, UAE 66778965</li>
                        <li>Last date spotted in the wild: 1/23/2013</li>
                        <li>Number of People that wanted this item: 4</li>
                        <li>Last price posted: $239.56</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> DoctorNoWho12 is awarded a bounty of $31!
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="well">
                <form class="form-horizontal" role="form">
                    <h4>Have you found something you believe others in you area may be looking for?</h4>
                    <pre>Drag picture here...</pre>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Location"></textarea>
                    </div>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Date spotted"></textarea>
                    </div>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="Price"></textarea>
                    </div>
                    <div class="form-group" style="padding:14px;">
                        <textarea class="form-control" placeholder="UPC code"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                </form>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/Walls-Selection-Hersheys.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Walls Selection Hershey's Ice Cream!</p>
                    <p>
                        Some people were looking for this. I dont care for plain chocolate ice cream much but I found this at the local store.
                    </p>
                    <ul>
                        <li>Location: QueensGrocer 6 Grotestraat, Amesterdam, UAE</li>
                        <li>Last date spotted in the wild: 12/2/2014</li>
                        <li>Number of People that wanted this item: 86</li>
                        <li>Last price posted: $6.78</li>
                        <li>UPC code: 44393529</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> LesLion54 is awarded a bounty of $29.90!
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/coconut oil.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Coconut Oil</p>
                    <p>
                        Needed this for my hair. And I know alot other people need this also. Thanks!
                    </p>
                    <ul>
                        <li>Location: CornerGrocer, 23 SteinStraat The Hague, UAE 34243123</li>
                        <li>Last date spotted in the wild: 3/23/2014</li>
                        <li>Number of People that wanted this item: 3</li>
                        <li>Last price posted: $23.16</li>
                        <li>UPC code: 239823414</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> Whatsits is awarded a bounty of $93.43!
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/rice crispies treates cereal.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Rice Crispies Treates Cereal</p>
                    <p>
                        After all this time.  I got it, this was the one!
                    </p>
                    <ul>
                        <li>Location: OpaShop 35 FrontStraat, Rotterdam, UAE</li>
                        <li>Last date spotted in the wild: 12/8/2014</li>
                        <li>Number of People that wanted this item: 2</li>
                        <li>Last price posted: $5.56</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> P45X is awarded a bounty of $10!
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="animatePanel">
                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Found!</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/trader joes vanilla.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Trader Joes Bourbon Vanilla</p>
                    <p>
                        I am personally shipping this to my cousin who owns a grocery in Utrect now. Enjoy!
                    </p>
                    <ul>
                        <li>Location: Grocery4AmericansAndDutch2 43 Haasstraat Utrect, UAE</li>
                        <li>Last date spotted in the wild: 1/2/2014</li>
                        <li>Number of People that wanted this item: 401</li>
                        <li>Last price posted: $9.98</li>
                    </ul>
                    <p>
                        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> EnlightednedTheOne is awarded a bounty of $2,034.56!
                    </p>
                    <p><a href="#" class="btn btn-default">Email me when this is in my area! &raquo;</a></p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

        </div>

        <!-- main col right -->
        <div class="col-sm-7">

            <div class="well">
                <form class="form">
                    <h4><p>WheresMyStuff.com can scour the web and notify you of the stuff you want.</p> <p>Sign-up</p></h4>
                    <div class="input-group text-center">
                        <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                    </div>
                </form>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<a href="#" class="pull-right">Bounty currently set at: $246</a>--> 
                <h4>Wanted: Amaretti Tradizionale</h4>
                </div>
                <div class="panel-thumbnail"><img src="/assets/example/wn-crunchy-amaretti-tradizionale.png" class="img-responsive"></div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <hr>
                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> MandyK writes: I need these in my life again.  I used to get these from the Trader Joe's down the street
                    from where i used to live.  Up here I cant find them anywhere. Please people we have to get this item!!
                    <hr />
                    <ul>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> Gerbil112 writes: OH MAN!! I love these I want them so much!
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> RobertK writes: Whoa this brings me back.  Wish these were here.  Can someone find these ASAP!!
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> AmanDaMan writes: I dont mind chipping in $1 fo this.
                        </li>
                    </ul>
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Add a comment..">
                        </div>
                    </form>
                    <hr />
                    <p><a href="#" class="btn btn-default">Email me when this is found in 50 feet of my area! &raquo;</a></p>
                    <p><a href="#" class="btn btn-default">Place a bounty on this! &raquo;</a></p>
                    <hr />
                    <p>
                        WheresMyStuff.com scours the web looking for the items you want in your location! See the list of automatically curated items that may match this one.
                    </p><p>
                        <a href="#">Is this it? &raquo;</a>
                    </p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">Bounty currently set at: $1,002.83</a> <h4>Wanted: Bob's Red Mill Brown Rice Flour</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/bobs_red_mill_brown_rice_flour_072G.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <hr>
                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> TinaBaker writes: Running a bakery shop, or atleast trying to
                    start one up.  We need this supplied to us.  If anyone knows of a shipper or someone that can get this to us on a regular basis we would really appreciate it. Thanks.
                    <hr />
                    <ul>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> M1thhews123 writes: I dont run a bakery, but I need this to bake my wife's favorite bread on mornings.
                            I would give anything to bake her this as a surprise.
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> SocialAnaconda writes: My relatives here love this when I bring it to them from New York.  They could really
                            use this!!
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> gruGu writes: I dont mind paying $1 jto see this onstoreshelves..
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> youTWooo writes: I second on that.
                        </li>
                        <br />
                        <a href="#">See more comments...</a>
                    </ul>
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Add a comment..">
                        </div>
                    </form>
                    <hr />
                    <p><a href="#" class="btn btn-default">Email me when this is found in 50 feet of my area! &raquo;</a></p>
                    <p><a href="#" class="btn btn-default">Place a bounty on this! &raquo;</a></p>
                    <hr />
                    <p>
                        WheresMyStuff.com scours the web looking for the items you want in your location! See the list of automatically curated items that may match this one.
                    </p><p>
                        <a href="#">Is this it? &raquo;</a>
                    </p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">Bounty currently set at: $4</a> <h4>Wanted: New York Style Pizza</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/ny03-pizza1.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <hr>
                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> DanTheMan writes: There's nothing like a new york slice. $2 to anyone who can find one inn a
                    50 mile radius of Nijmegen.
                    <hr />
                    <ul>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> Natalie234234 writes: Yes, this please!!! :)!
                        </li>
                    </ul>
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Add a comment..">
                        </div>
                    </form>
                    <hr />
                    <p><a href="#" class="btn btn-default">Email me when this is found in 50 feet of my area! &raquo;</a></p>
                    <p><a href="#" class="btn btn-default">Place a bounty on this! &raquo;</a></p>
                    <hr />
                    <p>
                        WheresMyStuff.com scours the web looking for the items you want in your location! See the list of automatically curated items that may match this one.
                    </p><p>
                        <a href="#">Is this it? &raquo;</a>
                    </p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">Bounty currently set at: $89</a> <h4>Wanted: Betty Crocker Chocolate Frosting</h4></div>
                <div class="panel-thumbnail"><img src="~/assets/example/betty-crocker chocolate frosting.jpg" class="img-responsive"></div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <hr>
                    <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> JennFire writes: This is the best chocolate bar none. $5 dollars to the
                    nice person that can reunite this chocolate with me.
                    <hr />
                    <ul>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> hoolahoop12 writes: This is great for cakes. $12!!
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> TonyFRado writes: Baking a cake this month. Bounty!! $.58
                        </li>
                        <li>
                            <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> fredicat writes: MMMmmmm I would so love this. I have no money
                            for bounty but would rjlly wanted this.
                        </li>
                    </ul>
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Add a comment..">
                        </div>
                    </form>
                    <hr />
                    <p><a href="#" class="btn btn-default">Email me when this is found in 50 feet of my area! &raquo;</a></p>
                    <p><a href="#" class="btn btn-default">Place a bounty on this! &raquo;</a></p>
                    <hr />
                    <p>
                        WheresMyStuff.com scours the web looking for the items you want in your location! See the list of automatically curated items that may match this one.
                    </p><p>
                        <a href="#">Is this it? &raquo;</a>
                    </p>
                    <p>
                        <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                    </p>
                </div>
            </div>

        </div>
    </div><!--/row-->

    <div class="row">
        <div class="col-sm-6">
            <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
        </div>
    </div>

    <div class="row" id="footer">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
            <p>
                <a href="#" class="pull-right">©Copyright Mollie P 2014</a>
            </p>
        </div>
    </div>

    <hr>

    <h4 class="text-center">
        <a href="http://bootply.com/96266" target="ext">USA2UAE.WheresMyStuff.com</a>
    </h4>

    <hr>


</div><!-- /col-9 -->