<section class="content-section video-section">
    <div class="jumbotron pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=TDM18lJ18VA',startAt:5,quality:'hd1080',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="page-header text-center hidden-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
            </div>
            <div class="page-header text-center visible-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>myFindr</h1>
            </div>
        </div>
    </div>
</section>
<div class="well">
    <form class="form-horizontal" role="form">
        <h4>Have you found something you believe others in your area may be looking for?</h4>
        <div class="form-group" style="padding:14px;">
            Name
            <textarea class="form-control" placeholder="The name of the item you found" data-ng-model="vm.thing.name"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            Location City
            <select class="form-control" data-ng-model="vm.thing.thingCity.city"
                    data-ng-options="city as city.name for city in vm.cities"></select>
        </div>
        <section class="file-container">
            <section class="droplet">
                <droplet ng-model="vm.interface" class="droplet ng-pristine ng-untouched ng-valid ng-isolate-scope event-drop">
                    <comment>Drag picture(s) here...</comment>
                    <ul class="files">
                        <li ng-repeat="model in vm.interface.getFiles(interface.FILE_TYPES.VALID)">
                            <droplet-preview ng-model="model"></droplet-preview>
                            <div class="delete" ng-click="model.deleteFile()">&times;</div>
                            <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                        </li>
                    </ul>
                </droplet>
            </section>
        </section>
        <div class="form-group" style="padding:14px;">
            Category
            <!--<textarea class="form-control" placeholder="The category or type of item" data-ng-model="vm.thing.category"
                      typeahead="category as category.name for category in vm.categories | filter:{name:$viewValue} | limitTo:8"></textarea>-->
            <ol class="nya-bs-select" ng-model="vm.thing.category" data-live-search="true" style="width:100%">
                <li nya-bs-option="category in vm.categories">
                    <!-- the text content of anchor element will be used for search -->
                    <a>
                        {{ category.name }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>
        </div>
        <div class="form-group" style="padding:14px;">
            Description
            <textarea class="form-control" placeholder="The description or type of item" data-ng-model="vm.thing.description"></textarea>
        </div>
        <div class="form-group">
            <ul class="list-inline pull-right">
                <li>
                    <button class="btn btn-primary pull-right" type="button" ng-click="vm.addOrUpdate()">Save</button>
                </li>
                <li>
                    <back-button inner-class="btn btn-primary pull-right"></back-button>
                </li>
            </ul>
        </div>
        <!--<ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>-->
    </form>
</div>