<section class="content-section video-section">
    <div class="jumbotron pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=zGtz_GOA79w',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="container">
            <div class="page-header text-center hidden-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>WheresMyStuff.com</h1>
            </div>
            <div class="page-header text-center visible-xs">
                <h1><i class="glyphicon glyphicon-heart-empty red"></i>Where's My Stuff</h1>
            </div>
        </div>
    </div>
</section>
<div class="well">
    <form class="form-horizontal" role="form">
        <h4>Have you found something you believe others in you area may be looking for?</h4>
        <br/>
        <section class="file-container">
            <section class="droplet">
                <droplet ng-model="vm.interface" class="droplet ng-pristine ng-untouched ng-valid ng-isolate-scope event-drop">

                    <!--<div class="loading" ng-class="{ visible: vm.interface.isUploading() }">
                <svg viewBox="0 0 400 400">
                    <path class="loading-path ng-pristine ng-untouched ng-valid ng-isolate-scope" data-progressbar="" ng-model="vm.interface.progress.percent" d="M 0,1 L 398,1 L 398,234 L 1,234 L 0,1" stroke="#D3B2D1" stroke-width="1" fill-opacity="0" style="stroke-dasharray: 1261.00219726563px, 1261.00219726563px; stroke-dashoffset: 1261.00219726563px;"></path>
                </svg>
            </div>-->
                   
                    <comment>Drag picture(s) here...</comment>

                    <!--<section class="message success ng-binding" ng-class="{ visible: vm.success }" ng-click="vm.success = false">
                Successfully uploaded 1 files.
            </section>

            <section class="message error" ng-class="{ visible: vm.error }" ng-click="vm.error = false">
                Failed to upload any of the files.
            </section>-->

                    <ul class="files">
                        <li ng-repeat="model in vm.interface.getFiles(interface.FILE_TYPES.VALID)">
                            <droplet-preview ng-model="model"></droplet-preview>
                            <div class="delete" ng-click="model.deleteFile()">&times;</div>
                            <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                        </li>

                    </ul>

                </droplet>
            </section>
        </section>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Category" data-ng-model="vm.thing.categoryId" typeahead="category.name as category.name for category in vm.categories | filter:$viewValue | limitTo:8"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Name" data-ng-model="vm.thing.name"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Description" data-ng-model="vm.thing.description"></textarea>
        </div>
        <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Whats your story? Why do you want to find this?" data-ng-model="vm.thing.comments[0].commentText"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="button" ng-click="vm.save()">Save</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    </form>
</div>